ul {
  list-style-type: none;
}

#top-container {
  display: grid;
  grid-template-rows: 56px 96px 100px;
}

#event-bar {
  background-color: #f37442;
}

#nav-bar {
  box-shadow: 0 1px 3px #bbb;
  display: grid;
  grid-template-areas: '... img ...';
  grid-template-columns: auto 1200px auto;
}

#nav-bar #logo {
  grid-area: img;
  width: 125px;
  padding: 22.5px;
}

#mid-container {
  max-width: 1200px;
  margin: auto;
}

#item-list {
  padding: 40px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#item-list .item {
  display: grid;
  grid-template-rows: 200px auto;
  border: 1px solid #eee;
}

#item-list .item-img {
  width: 200px;
  margin: auto;
}

#item-list .item-body {
  padding: 20px;
}

.item-body h4, .item-body p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-body h3 {
  text-align: right;
  color: #f37442;
}
